
.back, body {
    background: #e2e2e2;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}


div.content {
    display: table-cell;
    vertical-align: middle;
}



.header {
    background-color: yellow;
    padding: 30px 0;
}

.main-container {
    width: 800px;
    margin: 0 auto;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu {

}

.profile-logo {
    font-size: 69px;
}

.h1{
    text-transform: uppercase;
}

.main-logo {
    width: 200px;
    height:100px;
}

.menu__item {
    /*margin: 0 30px;*/
}

.menu__item a, .menu-bottom__item a {
    font-size: 16px;
    font-weight:bold;
    color: black;
}

.main-block {
    background-color: red;
    padding:0;
}

.secondary-block{
    background-color: gray;
    padding:50px 0;
}

.active_link {
    color: blue !important;
}

.current-page {
    text-align: center;
}

#add-account-form{
    display:none;
}
.account-link{
    cursor: pointer;
}

#add-task-form {
    display: none;
    margin-top: 25px;
}
#add-direct-task {
    display: block;
}
#add-unfollowing-task {
    display: none;
}
.account-tasks.active{
    background-color: green;
}
.account-tasks.deactivated{
    background-color: grey;
}
.account.active{
    background-color: forestgreen;
}
.account.deactivated{
    background-color: darkorange;
}
.items-to-show{
    display: none;
}


@media screen and (max-width: 592px) {
    .menu__item{
        background-color: currentColor;
        padding: 10px;
        border: 1px solid darkcyan;
        border-radius: 8px;
    }
    .menu__item a, .menu-bottom__item a {
        font-size: 18px;
        color: white;
    }
    .main-container {
        width: 100%;
    }
    .btn, .btn-primary, .task-deactivate, .task-activate {
        padding: 10px;
        font-size: 20px;
    }
    .account-tasks.deactivated {
        background-color: firebrick;
    }
    #add-direct-task-work-only-in-night{
        margin-left:15px;
    }
    .items-to-hide{
        display: none;
    }
    .items-to-show{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .account-link, .account-link-nonclicable{
        font-size: 26px;
        color: black;
        font-weight: bold;
        width: 100%;
        margin-left:22px;
    }
    .account-link.deactivated{
        text-decoration: line-through;
    }
    .container .container-nopadding{
        padding: 0;
    }
    .account-deactivate, .account-activate{
        margin-right:22px;
    }
    .account{
        margin: 3px 0;
        border-radius: 5px;
    }

    .main-block, .header {
        background-color: darkcyan;
    }
    .header{
        padding: 5px 0;
    }
    .programm-text{
        text-align: center;
    }
    .programm-header-info{
        width: 100%;
        padding: 0 22px;
        font-size: 18px;
    }
    .account-tasks.active{
        background-color: forestgreen;
        margin: 3px 0;
        border-radius: 5px;
    }
    .account-tasks.deactivated{
        background-color: darkorange;
        margin: 3px 0;
        border-radius: 5px;
    }
    .col-lg-12.ml-auto.direct-message-text{
        font-size:18px;
        font-weight:bold;
        margin-left: 5px !important;
    }
}