.back, body {
    background: darkcyan;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.chatbot-instruction{
    display: none;
}
.div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}
div.content {
    display: table-cell;
    vertical-align: middle;
}
.header {
    background-color: yellow;
    padding: 30px 0;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
.profile-logo {
    font-size: 69px;
}
.h1{
    text-transform: uppercase;
}
.main-logo {
    width: 200px;
    height:100px;
}
.main-block {
    background-color: red;
    padding:0;
}
.secondary-block{
    background-color: gray;
    padding:50px 0;
}
.active_link {
    color: white !important;
    text-decoration: underline;
    font-weight: bold;
}
.current-page {
    text-align: center;
    font-size: 2.2rem;
}
#add-account-form{
    display:none;
}
.account-link{
    cursor: pointer;
}
#add-task-form {
    display: none;
    margin-top: 25px;
    margin-bottom: 10px;
}
#add-direct-task {
    display: block;
}
#add-unfollowing-task {
    display: none;
}
.safelist-container, .chatbot-container{
    background-color: forestgreen;
    border: 1px solid white;
    margin: 3px 0;
    border-radius: 5px;
    padding: 10px;
}
#safelist, #chatbotaccounts-list{
    border-radius: 5px;
}
.safelist-pagination{
    justify-content: center;
    margin: 12px 0;
    display: flex;
}

.chatbot-account-container{
    display: flex;
    cursor: pointer;
}
#safelist > div, .chatbot-account-container{
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    background-color: darkseagreen;
}
#safelist > div > div:nth-child(2n){
    padding: 5px 10px 5px 5px;
    flex-grow: 1;
}

.chatbot-account-container > div:nth-child(2n){
    display: flex;
    flex-grow: 1;
    margin-left: 5px;
}
.chatbot-account-container > div:nth-child(2n) > div:nth-child(1n){
    flex-grow: 1;
    font-size: 5vw;
    font-weight: bold;
}
.chatbot-account-container > div:nth-child(2n) > div:nth-child(2n){
    flex-grow: 0;
    font-size: 7vw;
}


#safelist > div > div:nth-child(3n){
    padding-right: 15px;
    font-size: 40px;
}
.checkbox-unchecked{
    color: aqua;
}
.checkbox-checked{
    color: black;
}
.safelist-toggle-on-off{
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.chatbot-dialog-statuses{
    padding: 5px 15px;
    width: 450px;
    display: grid;
    grid-template-columns: minmax(180px, 3fr) 30px 4fr;
}
.safelist-toggle-on-off > span{
    padding: 5px;
}
.chatbot-stats-block{
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    max-width: 520px;
}
.chatbot-stats-block > div{
    margin: 0 5px;
}






.account.active{
    background-color: forestgreen;
    border: 1px solid white;
}
.account.deactivated{
    background-color: darkseagreen;
    border: 1px solid white;
}
.menu__item{
    background-color: currentColor;
    padding: 10px;
    border: 1px solid darkcyan;
    border-radius: 8px;
}
.menu__item a, .menu-bottom__item a {
    font-size: 18px;
    color: white;
}
.header-top-row{
    display: flex;
    justify-content: space-between;
}
.header-top-row-title {
    padding: 6px 0 0 12px;
}
.main-container {
    width: 100%;
    color: black;
}
.btn, .btn-primary, .task-activate {
    padding: 10px;
    font-size: 20px;
}
.account-middle-row{
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
}
.account-middle-row > div{
    padding: 5px;
}
#add-direct-task-work-only-in-night{
    margin:15px;
}
.account-link, .account-link-nonclicable{
    font-size: 26px;
    color: black;
    font-weight: bold;
    /*width: 100%;*/
    margin-left:22px;
}
.account-link.deactivated{
    text-decoration: line-through;
}
.container .container-nopadding{
    padding: 0;
}
.clear-direct-queue, .task-deactivate, .account-deactivate,
.account-activate, .clear-safelist-users{
    background-color: #17a2b8;
    cursor: pointer;
}
.clear-safelist-users{
    margin: 0 10px;
}
.account-deactivate{
    margin-right:22px;
}
.account{
    margin: 3px 0 6px 0;
    border-radius: 5px;
}
.main-block, .header {
    background-color: darkcyan;
}
.header{
    padding: 5px 0;
}
.programm-text{
    text-align: center;
}
.programm-header-info{
    width: 100%;
    padding: 0 22px;
    font-size: 18px;
}
.account-tasks.active{
    border: 1px solid white;
    background-color: forestgreen;
    margin: 3px 0 6px 0;
    color: black;
    border-radius: 5px;
    padding: 0 0 6px 0;
}
.account-tasks.paused{
    border: 1px solid white;
    background-color: grey;
    margin: 3px 0 6px 0;
    color: black;
    border-radius: 5px;
    padding: 0 0 6px 0;
}
.account-tasks.deactivated{
    border: 1px solid white;
    background-color: darkseagreen;
    margin: 3px 0 6px 0;
    border-radius: 5px;
    padding: 0 0 6px 0;
}
.col-lg-12.ml-auto.direct-message-text{
    font-size:18px;
    font-weight:bold;
    margin-left: 5px !important;
}
.account-tasks-type-title, .account-tasks-type-title {
    font-size: 18px;
    font-weight: bold;
    margin: 11px 0;
}
.mini-profile-picture{
    width: 52px;
    margin: 0 0 10px 20px;
}
.icon-btn{
    width: 52px;
    height: 52px;
    padding: 16px 18px;
    border-radius: 5px;
}
.search-field{
    border-radius: 5px;
    padding: 10px
}
.my-btn{
    width: 52px;
    height: 52px;
    padding: 16px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.my-btn-small{
    width: 38px;
    height: 38px;
    padding: 9px 0 0 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.btn-dark{
    cursor: pointer;
}
.btn-dark.refresh-follow-list, .btn-dark.refresh-bot-list, .btn-dark.start-chatbot-task, .show-chatbot-instruction{
    width: 224px;
    height: 52px;
    padding: 16px 18px;
    border-radius: 5px;
    display:flex;
    align-items: center;
}
.chatbot-accounts-for-start{
    display: none;
}
.show-chatbot-instruction{
    width: 230px;
}
.btn-dark.refresh-bot-list{
    height: 56px;
    width: 262px;
}
.btn-dark.start-chatbot-task{
    height: 50px;
    width: 195px;
}
.btn-dark.my-btn.refresh-follow-list{
    width: 52px;
    display: none;
}
#add-account-form{
    margin: 10px 0;
    display:none;
}
.my-label {
    font-size: 26px;
}
.my-text-input {
    padding: 22px;
}
#show-all-accounts{
    margin-left:5px;
}
.account-relogin, .account-enter-code{
    margin-right: 22px;
}
#enter-confirm-code-form{
    display: none;
    margin: 10px 0;
}
#all-accounts-checkbox{
    width: 126px;
    margin: 16px 0 0 0;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#preloader{
    display: none;;
}
#background-preloader{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    background-color: black;
}
.sidenav-overlay{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
}
.sidenav-overlay-show{
    display: block;
    opacity: 1;
}
.sidenav-animate{
    transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    transition: 1s;
}

.sidenav{
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}
#slide-out{
    background-color: darkslategray;
    padding-top: 10px;
}
.sidenav-trigger{
    display: none !important;
    padding: 6px 0 3px 0;
}
.fa-bars{
    font-size: 32px;
}

.slide-out-close-menu{
    display: flex;
    justify-content: flex-end;
    padding: 0px 15px 15px 0;
}
.toggle-btn{
    font-size: 32px;
}
/*#toggle-on{*/
    /*display: none;*/
    /*cursor: pointer;*/
/*}*/

.btn-dark.refresh-follow-list.disabled{
    background-color: lightseagreen;
    cursor: auto;

}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 1000px) {
    .items-to-hide{
        display: none;
    }
    .sidenav-trigger{
        display: block !important;
    }
}@media screen and (max-width: 770px) {
    .btn-dark.refresh-follow-list{
        display: none;
    }
    .btn-dark.my-btn.refresh-follow-list{
        display: block;
    }
}
@media screen and (max-width: 460px) {
    #safelist > div > div:nth-child(2n){
        padding: 5px;
        flex-grow: 1;
        font-size: 24px;
    }
}
@media screen and (min-width: 770px) {
    .chatbot-account-container > div:nth-child(2n) > div:nth-child(1n){
        font-size: 38px;
    }
    .chatbot-account-container > div:nth-child(2n) > div:nth-child(2n){
        font-size: 42px;
    }
}