
div[class="row"] {
    outline: 1px dotted rgba(0, 0, 0, 0.25);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}




.back, body {
    background: #e2e2e2;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}


div.content {
    display: table-cell;
    vertical-align: middle;
}



.header {
    background-color: yellow;
    padding: 30px 0;
}

.main-container {
    width: 800px;
    margin: 0 auto;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu {

}

.profile-logo {
    font-size: 69px;
}

.h1{
    text-transform: uppercase;
}

.main-logo {
    width: 200px;
    height:100px;
}

.menu__item {
    /*margin: 0 30px;*/
}

.menu__item a, .menu-bottom__item a {
    font-size: 16px;
    font-weight:bold;
    color: black;
}

@media screen and (max-width: 592px) {
    .menu-bottom {
        position: fixed;
        bottom: 0px;
        margin: 0 auto;
        left: 170px;
    }
    .menu-bottom__item{
        float:left;
        padding: 5px;
    }
}

.main-block {
    background-color: red;
    padding:0;
}

.secondary-block{
    background-color: gray;
    padding:50px 0;
}

.active_link {
    color: blue !important;
}

.current-page {
    text-align: center;
}

#add-account-form{
    display:none;
}
.account{
    cursor: pointer;
}

#add-task-form {
    display: none;
    margin-top: 25px;
}
#add-direct-task {
    display: block;
}
#add-unfollowing-task {
    display: none;
}
.account-tasks.active{
    background-color: green;
}
.account-tasks.deactivated{
    background-color: grey;
}